.main-header {
  background-color: #6c3697;
  .logo {
    width: 240px;
    background: rgba(0,0,0,0.2);
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-weight: 600;
    font-size: 22px;
  }
}