//sidebar default
$sidebar-default-background: transparent;
$sidebar-default-color: #5b5b5b;
$sidebar-default-hover: #eee;

// sidebar blue
$sidebar-blue-background: #E2ECF0;
$sidebar-blue-color: #333;
$sidebar-blue-hover: #529DC4;

//sidebar default
$sidebar-dark-background: #31353E;
$sidebar-dark-color: #7F8690;
$sidebar-dark-hover: #424B52;

.main-sidebar {
  background: $sidebar-default-background;
  border-right: 1px solid #ccc;
  &__box {
    padding-top: 10px;
    h3 {
      padding: 10px 20px;
      font-size: 11px;
      font-weight: normal;
      color: rgba(0,0,0,0.4);
      text-transform: uppercase;
      text-shadow: 1px 0 0 white;
      letter-spacing: 0.8px;
    }
    a {
      display: flex;
      padding: 0 20px;
      height: 35px;
      font-weight: 600;
      align-items: center;
      transition: all .3s;
      font-size: 16px;
      color: $sidebar-default-color;
      &:hover {
        background: $sidebar-default-hover;
      }
    }
  }
  &--blue {
    background: $sidebar-blue-background;
    a {
      color: $sidebar-blue-color;
      &:hover {
        background: $sidebar-blue-hover;
        color: white;
      }
    }
  }
  &--dark {
    background: $sidebar-dark-background;
    border-right: 1px solid transparent;
    h3 {
      color: #566274;
      text-shadow: none;
    }
    a {
      color: $sidebar-dark-color;
      &:hover {
        background: $sidebar-dark-hover;
        color: white;
      }
    }
  }
}